@import "./variable.scss";

//Styling body
body {
    display: $display;
    flex-direction: column;
    overflow-x: hidden;
    gap: 10px;
}

header {
    width: $width-max;
    text-align: $center;
    height: 60px;
    background-color: $primary-color;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;
}

h1 {
    color: $secondary-color;
}

main {
    display: $display;
    justify-content: $center;
    align-items: $center;
    width: $width-max;
    gap: 10px;
    height: 1200px;
    background-color: $secondary-color;
}

#card {
    display: $display;
    justify-content: $center;
    align-items: $center;
    width: 60%;
    height: 500px;
    background-color: $primary-color;
    border-radius: $border-radius;
}

form {
    display: $display;
    justify-content: $center;
    align-content: $center;
    background-color: $secondary-color;
    width: $width-element;
    height: 440px;
    border-radius: $border-radius;
}

#rowbutton {
    display: $display;
    width: $width-max;
    height: 50px;
}

#insertbutton {
    background-color: $primary-color;
    border-color: $primary-color;
    width: $width-button;
    height: $height-button;
    font-size: $font-size;
    color: $secondary-color;
    border-radius: $border-radius;
}

#updatebutton {
    background-color: $primary-color;
    border-color: $primary-color;
    width: $width-button;
    height: $height-button;
    font-size: $font-size;
    color: $secondary-color;
    border-radius: $border-radius;
}

#deletebutton {
    background-color: $primary-color;
    border-color: $primary-color;
    width: $width-button;
    height: $height-button;
    font-size: $font-size;
    color: $secondary-color;
    border-radius: $border-radius;
}

#selectbutton {
    background-color: $primary-color;
    border-color: $primary-color;
    width: $width-select-button;
    height: $height-button;
    font-size: $font-size;
    color: $secondary-color;
    border-radius: $border-radius;
}

#selectallbutton {
    background-color: $primary-color;
    border-color: $primary-color;
    width: $width-select-button;
    height: $height-button;
    font-size: $font-size;
    color: $secondary-color;
    border-radius: $border-radius;
}

#labelinput{
    display: $display;
    justify-content: $center;
    align-items: $center;
    position: relative;
    bottom: 10px;
}

#bookID {
    height: 80px;
}

#bookName {
    height: 80px;
}

label {
    font-weight: bold;
}

input {
    height: 35px;
}

#authorName {
    height: 80px;
}

#publishingCompanyName {
    height: 80px;
}

#buttons {
    width: $width-max;
}

#confirmButton {
    background-color: $confirm-button-color;
    border-color: $confirm-button-color;
    width: $width-row-button;
    height: $height-button;
    font-size: $font-size;
    color: $secondary-color;
    border-radius: $border-radius;
}

#cancelButton {
    background-color: $cancel-button-color;
    border-color: $cancel-button-color;
    width: $width-row-button;
    height: $height-button;
    font-size: $font-size;
    color: $secondary-color;
    border-radius: $border-radius;
}

#card2 {
    display: $display;
    justify-content: $center;
    align-items: $center;
    width: 95%;
    height: 600px;
    background-color: $primary-color;
    border-radius: $border-radius;
}

#table {
    background-color: $secondary-color;
    width: $width-element;
    height: 550px;
    border-radius: $border-radius;
}

#col {
    font-size: $font-size;
}

#row {
    font-size: $font-size;
}