$display: flex;
$center: center;
$width-max: 100%;
$primary-color: rgb(0, 0, 128);
$percent-color: 30%;
$secondary-color: white;
$confirm-button-color: green;
$cancel-button-color: red;
$font-size: small;
$width-button: 120px;
$height-button: 30px;
$width-element: 99%;
$height-field: 80px;
$border-radius: 5%;
$width-row-button: 100px;
$width-select-button: 130px;